---
import Layout from '../layouts/Layout.astro';
import '../styles/index.css'
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>hello world</h1>
		<p>Just testing out the branches feature and how it works</p>
	</main>
</Layout>
